.profil-page {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 1rem; 
    width: 35%;
}

.profil-page h1{
	text-align: center;

}
.profil-page h1,
.profil-page h3 {
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.profil-page span, .profil-page input {
    display: block;
    background: #f7f7f7;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border:none;
    width: 100%;
}

#togglemdp {
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnmdp:hover {
    background-color: #2980b9;
}

#envoyer {
    background-color: #27ae60;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#envoyer:hover {
    background-color: #2ecc71;
}

.profil-page a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.profil-page a:hover {
    color: #2980b9;
}

.profil-page {
    color: #555;
}

#mdp:focus {
        outline: none;
    }