<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" th:href="@{/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/connexion.css}" type="text/css">
</head>
<body>

<!-- Inclure l'entête -->
<div th:replace="header :: header"></div>
<main>
    <form class="connexion-form" th:action="@{/connexion}" method="post" th:object="${utilisateur}">
		<div class = "titre-connexion">
			<h2 class="connexion-title">Connexion</h2> 
			<img th:src="@{/images/cuisto.png}" alt="logo"class="connexion-logo">
		</div>
        <label for="mail">Adresse e-mail :</label>
        <input class="input-field" type="email" id="mail" name="mail" required/>

        <label for="mdp">Mot de passe :</label>
        <input class="input-field" type="password" id="mdp" name="mdp" required/>

        <button class="submit-button" type="submit">Se connecter</button>
    </form>
    <div th:if="${erreur}" class="erreur">
        <p th:text="${erreur}"></p>
    </div>
</main>

<!-- Inclure le footer -->
<div th:replace="footer :: footer"></div>

</body>
</html>

