<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Creer Profil</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="creerProfil.css">
</head>
<body>
	
		<div th:replace="header :: header"></div>
		<main>
		
	    <form th:action="@{/ajouter_Profil}" method="post" th:object="${profil}" >
	        <label>Date de Naissance:</label>
	        <input type="date" name="dateDeNaissance" id="dateDeNaissance" >
	
	        <label>Biographie:</label>
	        <input type="text" name="bio" id="bio"required></input>
	
	        <input type="submit" value="Envoyer"></input>
	    </form>
	   	</main>
	    <div th:replace="footer :: footer"></div>
	   
</body>
</html>
