<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
	
		<div th:replace="header :: header"></div>
		<main>
		<h1>Votre Profil</h1>
		
		<h3> Date de naissance</h3>
		<span th:text="${profil.dateDeNaissance}"></span> <br>
		
		
		<h3>Biographie</h3>	
		<span th:text="${profil.bio}"></span>	
		
	    <button onclick='window.location.href = "/editerProfil"'>Editer le profil</button>

		
	   	</main>
	    <div th:replace="footer :: footer"></div>
	    
	   
</body>
</html>
