<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link rel="stylesheet" href="index.css">
     <script th:src="@{/js/profil.js}" src="js/profil.js"></script>
</head>
<body>
	
		<div th:replace="header :: header"></div>
		<main>
		<h1>Votre Profil</h1>
		
		<h3> Date de naissance</h3>
		<span th:text="${profil.dateDeNaissance}"></span> <br>
		
		
		<h3>Biographie</h3>	
		<span th:text="${profil.bio}"></span>	
		
		<h3>Utilisateur</h3>	
		<span th:text="${utilisateurConnecte.nom}"></span>	
		
		<h3>Mail</h3>	
		<span th:text="${utilisateurConnecte.mail}"></span>	
		
		<h3>Mot de passe</h3>   
		<span id="mdp" th:text="${utilisateurConnecte.mdp}" style="display: none;"></span>
		<button id="btnmdp" onclick="togglemdp()">Afficher le mot de passe</button>
		<br>
		
		
	    <button onclick='window.location.href = "/editerProfil"'>Editer le profil</button>

		
	   	</main>
	    <div th:replace="footer :: footer"></div>
	    
	   
</body>
</html>
