
<div th:fragment="header">
    <header>
        <div class="logo">
			<img th:src="@{/images/HeaderLogo.png}" alt="Logo site"  style="cursor: pointer;" onclick="window.location.href='/index'">
		</div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li th:if="${session.id_utilisateur == null}"><a th:href="@{/ajouterUtilisateur}">Inscription</a></li>
                <li th:if="${session.id_utilisateur == null}"><a th:href="@{/connexion}">Connexion</a></li>
                <li th:if="${session.id_utilisateur}"><a th:href="@{/Profil}">Mon Profil</a></li>
                <li th:if="${session.id_utilisateur}")><a th:href="@{/ajouterRecette}">Créer une recette</a></li>
				<li th:if="${session.id_utilisateur}")><a th:href="@{/vosRecettes}">Vos Recettes</a></li>
                <li th:if="${session.id_utilisateur}"><a th:href="@{/deconnexion}">Déconnexion</a></li>
            </ul>
            

        </nav>
    </header>
</div>
