
<div th:fragment="header">
    <header>
        <div class="logo">
<!--			<img th:src="@{/images/logo.png}" alt="Texte alternatif de l'image">
-->		</div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li th:if="${session.id_utilisateur == null}"><a th:href="@{/ajouterUtilisateur}">Inscription</a></li>
                <li th:if="${session.id_utilisateur == null}"><a th:href="@{/connexion}">Connexion</a></li>
                <li th:if="${session.id_utilisateur}"><a th:href="@{/Profil}">Mon Profil</a></li>
                <li th:if="${session.id_utilisateur}")><a th:href="@{/ajouterRecette}">Créer une recette</a></li>
                <li th:if="${session.id_utilisateur}"><a th:href="@{/deconnexion}">Déconnexion</a></li>
            </ul>
            

        </nav>
    </header>
</div>
