<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    	<link rel="stylesheet" th:href="@{/index.css}" type="text/css">
    	<link rel="stylesheet" th:href="@{/connexion.css}" type="text/css">
    <!-- ... autres balises du head -->
</head>
<body>

    <!-- Inclure l'entête -->
    <div th:replace="header :: header"></div>

    <!-- Contenu spécifique à la page d'accueil -->
    		    <main>
        <section class="recherche">
            <h1>Cherchez vos recettes préférées</h1>
            <form action="/recherche" method="GET">
                <input type="text" name="recherche" placeholder="Recherche...">
                <button type="submit">Rechercher</button>
            </form>
        </section>

        <section class="recettes-recentes">
            <h2>Les recettes les plus récentes</h2>
            <!-- Ici, il y aura un espace pour afficher les recettes une fois intégrées avec le backend -->
            <div id="liste-recettes">
                <!-- Exemple d'une recette (ceci sera généré dynamiquement côté serveur) -->
                <!--
                <div class="recette">
                    <h3>Titre de la recette</h3>
                    <p>Créée par <span>Auteur</span></p>
                    <a href="/recette/id-de-la-recette">Voir les détails</a>
                </div>
                -->
            </div>
        </section>
    </main>

    <!-- Inclure le footer -->
    <div th:replace="footer :: footer"></div>

</body>
</html>
