<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    	<link rel="stylesheet" th:href="@{/index.css}" type="text/css">
    	<link rel="stylesheet" th:href="@{/connexion.css}" type="text/css">
</head>
<body>

	<div th:replace="~{header :: header}"></div>

    <main>
        <section class="recherche">
            <h1>Cherchez vos recettes préférées</h1>
            <form th:action="@{/recherche}" method="get">
                <input type="text" name="recherche" placeholder="Recherche...">
                <button type="submit">Rechercher</button>
            </form>
            <div th:if="${recettes}" class="recettesDiv">
        		<div th:each="rec : ${recettes}" class="recette">
					<h2 th:text="${rec.titre}"></h2>
   	 				<a th:href="@{/afficherRecette(id=${rec.id})}"><h4 th:text="'Lien vers la recette'"></h4> </a>
        		</div>
        	</div>
            
        </section>
        
        <section th:if="${recettes} == null" class="recettes-recentes">
            <h2>Les recettes les plus récentes</h2>
            <div th:if="${recetteRecente}" class="recettesDiv">
				<div th:each="rec : ${recetteRecente}" class="recette">
					<h2 th:text="${rec.titre}"></h2>
   	 				<a th:href="@{/afficherRecette(id=${rec.id})}"><h4 th:text="'Lien vers ' + ${rec.titre}"></h4> </a>
        		</div>
            </div>
        </section>
    </main>

	<div th:replace="~{footer :: footer}"></div>

</body>
</html>
